/* common css */


nav, section {

     padding: 1rem 1rem;

}

/* Banner Section */

#bannerSlidesContainer {

     height: 400px !important;
}

#bannerSlidesContainer a{

       background-color: black;
       color: white;
}

/* nav */

@media only screen and (max-width: 639px) {
     
     nav ul li {

          width: 100%;
          padding: 1rem 0;
          text-align: center;
    }
    nav ul li:hover{

        background-color: #f0cbcb;
    }
    #bannerSlidesContainer {

     height: 300px;
}
}
