/* common css */

hr:not(#questionsContainer hr){

     border: 1px dashed #7b7b7b28;
    
}

nav, section {

     padding: 1rem 1rem;

}

/* Banner Section */

#bannerSlidesContainer {

     height: 400px !important;
}

#bannerSlidesContainer a{

       background-color: black;
       color: white;
}

/* Hockey Club section */

#hockeyClubSection h2{

      font-weight: bold;
      font-size: 1.5rem;
      margin: 1rem 0;
      
}

/* Our progress on skills */
.radial-progress:before {
     inset: 0px;
     background: radial-gradient(farthest-side, currentColor 98%, #0000) top / var(--thickness) var(--thickness) no-repeat, conic-gradient(currentColor calc(var(--value)* 1%), #0000001f 0) !important;
     mask: radial-gradient(farthest-side, #0000 calc(99% - var(--thickness)), #000 calc(100% - var(--thickness)));
 }

 /* newProductsSection */
 #newProductsSection img{

       height: 100%;
       width: 30%;
      
 }


/* FQN questions section */

.bg-base-200{

      background-color: white !important;
}

#questionsContainer hr{

      border: none;
      width: 98%;
      margin: auto;
}

.collapse-title, :where(.collapse > input[type=checkbox]), :where(.collapse > input[type=radio]){

     min-height: 0.1rem !important;
     padding: 0.5rem !important;
}

/* Contact section */


#contactPartContainer > div > div {

        padding: 1rem;
        border-radius: 0.6rem;
        text-align: left;
}

#contactPartContainer > div span{

      font-weight: bold;
}

form label {

      padding-bottom: 7px;
      font-weight: 600;
      display: inline-block;
      font-size: 1.2rem;
}

form input, textarea{

     border: 2px solid #2316163c;
     background-color: #dcdcdc2a;
     padding: 0.3rem 0.5rem;
     border-radius: 0.3rem;
     width: 100%;
}

footer h2{

      font-weight: bold;
      font-size: 1.3rem;
      margin-bottom: 0.8rem;
}

/* ========================== jQuary ====================== */

/* nav */

@media only screen and (max-width: 639px) {
     
     nav ul li {

          width: 100%;
          padding: 1rem 0;
          text-align: center;
    }
    nav ul li:hover{

        background-color: #f0cbcb;
    }
    #bannerSlidesContainer {

     height: 300px;
   }
   /* products section */
   #newProductsSection img{

     width: 100%;
     margin-bottom: 1rem;
    
  }
  footer > div{

      width: 100% !important;
  }
}
